[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.8"

[dev-packages]
black = "==19.10b0"
isort = "==5.1.4"
flake8 = "==3.8.3"

[requires]
python_version = "3.9"
